body {
    background-image: url('https://cdn.dribbble.com/users/1171903/screenshots/13974393/media/3f1d90523e3c30964de222a56b1035b2.jpg?compress=1&resize=375x667'
        );
}

/* #imgChanger{
    max-width: 100%;
    height: 100%;
    background-image: url('images/Forsage-1.jpg');
    position: relative;
    z-index: -1;
} */

#picshur {
    top: 0;
    width: 100%;
    height: 10%;
}

video {
    position: relative;
    width: 100%;
    height: 10%;
    top: 0;
}

hr {
    border: 3px solid #da19aa;
}
